// Font Sizing
// Use REMs with a pixel fallback for font sizing.
// $size and $line-height should be pixel values and will be converted to rems

@mixin font-size($size, $line-height: false) {
  font-size: $size; //Fallback in px
  font-size: calculate-rem($size);

  @if $line-height {
    line-height: $line-height / $size;
  }
}
