/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$grid-breakpoints: (
  xxs: 0,
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  xs: 520px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$navbar-bp : md;

/*  ----- FONTS ----- */
$font-primary : "Crimson Text", serif;
$font-secondary : sans-serif;

/* ----- FONT SIZING ----- */

/*  ----- COLORS ----- */
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "color-primary": #d53d13,
    "color-primary-bright": #fe5f1b,
    "color-secondary": #efab1f,
    "color-secondary-bright":#efc637,
    "color-grey-light": #6d6e70,
    "color-grey": #565658,
    "color-grey-dark": #3b3b3d,
    "color-white": #fff,
    "color-cloud": #f3f3f3
  ),
  $theme-colors
);

$border-width : 3px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
