/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$grid-breakpoints: (
  xxs: 0,
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  xs: 520px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$navbar-bp : md;

/*  ----- FONTS ----- */
$font-primary : "Crimson Text", serif;
$font-secondary : "Gotham Medium";
$font-tertiary: "Gotham Bold";
$font-paragraph: "Gotham Book";

/* ----- FONT SIZING ----- */

/*  ----- COLORS ----- */
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "color-green": #006325,
    "color-beige": #9ea374,
    "color-tan": #994708,
    "color-orange": #c88a12,
    "color-blue": #00447c,
    "color-dark": #282828,
    "color-white": #fff,
    "color-cream": #f0eeea,
    "color-coffee": #a69d91,
    "color-lightgrey": #757575,
  ),
  $theme-colors
);

$border-width : 3px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
