.news__block-container {
  height: 390px;
  display: flex;
  align-items: center;
}

.news__block-date {
  color: theme-color("color-lightgrey");
}

.news__block-text {
  padding: 50px;

  @include media-breakpoint-down(sm) {
    text-align: center;
    padding: 15px;
  }
}

.news__block-subheading {
  @include media-breakpoint-down(sm) {
    font-weight: bold;
  }
}

.news__block-image {
  height: 390px;
  overflow: hidden;
}

.news__block-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.press-release {
  color: theme-color("color-orange");
}

.news {
  color: theme-color("color-blue");
}

.article {
  color: theme-color("color-tan");
}
