.theme-table {
  border: $border-width solid theme-color("color-grey-dark");
  padding: 0 30px 30px;
  margin-top: 20px;
}

.theme-table__heading {
  display: inline-block;
  background: #fff;
  transform: translateY(-0.75em);
  padding: 0 10px;
  margin: 0 0 0 -10px;
}

.theme-table__description {
  margin-bottom: 20px;
}

.theme-table__rows {
  margin-bottom: 20px;
}

.theme-table__row {
  @include font-size(18px, 20px);

  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid theme-color("color-cloud");

  @include media-breakpoint-up(md) {
    @include font-size(20px, 22px);
  }
}

.theme-table__value {
  font-weight: 600;
  text-align: right;
}
