.module-accordion {
  padding-bottom: 40px;

  @include media-breakpoint-up(md) {
    padding-bottom: 80px;
  }
}

.module-text + .module-accordion {
  margin-top: -20px;

  @include media-breakpoint-up(md) {
    margin-top: -60px;
  }
}

.accordion {
  border-top: 1px solid theme-color("color-grey-dark");
}

.accordion__card-label {
  border-bottom: 1px solid theme-color("color-grey-dark");
}

.accordion__label-btn {
  background: none;
  border: none;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  cursor: pointer;

  @include font-size(18px, 20px);
}

.accordion__label-btn-icons {
  margin-left: 20px;
}

.accordion__label-btn:hover,
.accordion__label-btn:focus {
  outline: none;
  color: theme-color("color-secondary");
}

.accordion__icon-plus {
  display: none;
}

.accordion__label-btn.collapsed {
  .accordion__icon-plus {
    display: initial;
  }

  .accordion__icon-minus {
    display: none;
  }
}

.accordion__card-body {
  border-bottom: 1px solid theme-color("color-grey-dark");
  padding: 40px 20px;

  @include media-breakpoint-up(md) {
    padding: 40px;
  }
}
